.vs/

src/Domain/obj/

src/Domain/bin/

src/Infrastructure/bin/

src/Infrastructure/obj/

src/Presentation.WebAPI/bin/

src/Presentation.WebAPI/obj/

tests/UnitTests/Domain.Tests/bin/

tests/UnitTests/Domain.Tests/obj/

tests/UnitTests/Infrastructure.Tests/bin/

tests/UnitTests/Infrastructure.Tests/obj/

tests/UnitTests/Presentation.WebAPI.Tests/bin/

tests/UnitTests/Presentation.WebAPI.Tests/obj/

**/Properties/launchSettings.json

dependencies/ConfigurationCollector/bin/
# Sonar Scanner working directories
.sonar/
.scannerwork/
.sonarqube/
results/

*.bkp

*.dtmp

*.user


# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
EventService/Presentation.WebAPI/obj/project.nuget.cache

EventService/Presentation.WebAPI/obj/project.assets.json
